---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/layout/Header';
import DashboardContent2 from '@/components/data/DashboardContent2';

export const prerender = false;
---

<BaseLayout title="Dashboard - Kairos">
  <div class="relative flex min-h-screen w-full flex-col">
    <div class="layout-container flex h-full grow flex-col">
      <Header client:load />
      <DashboardContent2 client:load />
    </div>
  </div>
</BaseLayout>
