@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply font-display;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .transition-base {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.2, 0.0, 0.2, 1);
  }

  .transition-emphasized {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}
